@import "tailwindcss";





.p-dropdown-items {
    border-radius: 14px !important;
    box-shadow: 3px 4px 10px 2px #00000040;
    overflow: hidden; 
    margin-top: 10px;
}

.p-dropdown-items-wrapper {
  max-height: none !important;
  overflow: visible !important;
}

.p-dropdown-item{
    background-color: white;
    padding: 10px 22px;
    height: 40px;
}