@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

*{
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.p-dropdown-items {
  border-radius: 14px !important;
  box-shadow: 3px 4px 10px 2px #00000040;
  overflow: hidden;
  margin-top: 10px;
}

.p-dropdown-items-wrapper {
  max-height: none !important;
  overflow: visible !important;
}

.p-dropdown-item {
  background-color: white;
  padding: 10px 22px;
  height: 40px;
}

.p-datepicker {
  background-color: white;
  padding: 20px;
}

.p-datepicker-header {
  margin-bottom: 20px;
}

.p-datepicker-calendar td,
th {
  padding: 10px;
}